.product {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.quantityBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
  line-height: 0;
  font-size: 1.5rem;
  min-width: 4rem;
}
/* .select {
  min-width: 4rem;
  max-height: 1rem;
  margin: 0rem;
  padding: 0rem;
  justify-self: center;
  line-height: 0;
} */
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
  /* line-height: 0; */
  height: 2rem;
  width: 1rem;
  font-size: 2rem;
}
.button {
  display: flex;
  margin: 0rem;
  padding: 0rem;
  line-height: 2rem;
  font-size: 2rem;
  font-family: cursive, system-ui;
  width: 1rem;
  justify-content: center;
  padding-bottom: 0.2rem;
  align-items: center;
  border: none;
  background: none;
}
